{% extends "layout.html" %}

{% block pageTitle %}
  10 to 100 geese
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="02-how-many-geese">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          between 11 and 100 geese
        </h1>

        <p>
          Congratulations, its more than 10 and less than 100, gaggle to flock range
        </p>


        <p><a href="xx-check-answers" class="govuk-button">Next</a></p>

    </div>
  </div>
{% endblock %}
