{% extends "layout.html" %}

{% block pageTitle %}
  Unknown number of geese
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="02-how-many-geese">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          I dont know
        </h1>

        <p>
          Congratulations, you don't now how many geese you have
        </p>


        <p><a href="xx-check-answers" class="govuk-button">Next</a></p>

    </div>
  </div>
{% endblock %}
