
{% extends "layout.html" %}

{% block pageTitle %}
  Gov services how to prototype
{% endblock %}


{% block content %}

<style>
.app-code {
	  font-size: 16px;
    position: relative;
    margin: 0;
    padding: 15px;
    overflow: auto;
    border: 1px solid #b1b4b6;
    background-color: #f3f2f1;
    max-width: 38em;
}
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Routing for how many geese - complete
      </h1>
      <p class="govuk-body-l">
        copy all into to your routes file
      </p>

			<pre class="app-code">
				<code>
const express = require('express')
const router = express.Router()

// Add your routes here - above the module.exports line

// ***************************************
// Version 2 - register my geese
// ***************************************

// ** how many geese - branching

router.post('/02/03-branch-how-many-geese', function (req, res) {
  // Get the answer from session data
  // The name between the quotes is the same as the 'name' attribute on the input elements
  // However in JavaScript we can't use hyphens in variable names

  const HowManyGeese = req.session.data['goose-count']

  switch (HowManyGeese) {

    case 'up-to-10':
      res.redirect('03a-10-or-fewer');
      break;

    case '11-to-100':
      res.redirect('03b-10-to-100'); // gneed a prescription - go to 'go to the pharmacy' page
      break;

    case '101-to-1000':     
      res.redirect('03c-101-to-1000'); // any other reaspn - go to the 'a doctor or nurse will see you' page
      break;

    default:
      // if none of the above... i.e.  if option 4 'dont-know'
      res.redirect('03d-dont-know-how-many');  // police and 111 - go to the 'have you been referred to us' page
      break;
  }

})

// ** END: how many geese - branching


// keep this as the last line in the routes file
module.exports = router

				</code>
			</pre>


    </div>
  </div>

{% endblock %}
