
{% extends "layout.html" %}

{% block pageTitle %}
  Gov services how to prototype
{% endblock %}


{% block content %}

<style>
.app-code {
	  font-size: 16px;
    position: relative;
    margin: 0;
    padding: 15px;
    overflow: auto;
    border: 1px solid #b1b4b6;
    background-color: #f3f2f1;
    max-width: 38em;
}
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Routing for how many geese - 2 options wired up
      </h1>
      <p class="govuk-body-l">
        copy all into to your routes file
      </p>

			<pre class="app-code">
				<code>
const express = require('express')
const router = express.Router()

// Add your routes here - above the module.exports line

// ***************************************
// Version 2 - register my geese
// ***************************************

// ** how many geese - branching

router.post('/02/03-branch-how-many-geese', function (req, res) {
  // Get the answer from session data
  // The name between the quotes is the same as the 'name' attribute on the input elements
  // However in JavaScript we can't use hyphens in variable names

  const HowManyGeese = req.session.data['goose-count']

  if (HowManyGeese === 'up-to-10') {
    res.redirect('03a-10-or-fewer')
  } else {
    res.redirect('03b-10-to-100')
  }
})

// ** END: how many geese - branching


// keep this as the last line in the routes file
module.exports = router

				</code>
			</pre>


    </div>
  </div>

{% endblock %}
