
{% extends "layout.html" %}

{% block pageTitle %}
  Gov services how to prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        How to prototype Government services (in code)
      </h1>
      <p class="govuk-body-l">
        How to prototpye with the gov kit in context: to protoype for a service, in a team, to gov design principles, patterns and to gov service standards.  Good practices.  This is not just about how to use the gov kit.
      </p>

      <h2 class="govuk-heading-l">Lessons</h2>

      <p>
        <a href="https://docs.google.com/document/d/1iJyR6da24fLsIvnaIlMUdlqck0cYwEJch5WdWd2gXYY/edit#">lesson plan - current a google doc (restricted access)</a>. To be open access later.
      </p>

			<h3 class="govuk-heading-m">Files for lessons</h3>

			<h4 class="govuk-heading-s">part 3 - working with github/git and routing based on question answers</h4>

      <ul class="govuk-list govuk-list--bullet">
      	<li><a href="https://github.com/AndyPorter/pictures/blob/master/GitCircleOfSafety.jpg">Git circle of safety</a> By Paul Downey or Matt Johnson for Gov exemplar no 5</li>
      	<hr/>
      	<li><a href="/lesson-files/lesson-03/02-how-many-geese-2-options">for views/02/02-how-many-geese.html (2 options wired up)</a></li>
      	<li><a href="/lesson-files/lesson-03/routes-2-options">for views/routes.js (2 options wired up)</a></li>
      	<hr/>
      	<li><a href="/lesson-files/lesson-03/02-how-many-geese-3-options">for views/02/02-how-many-geese.html (3 options wired up)</a></li>
      	<li><a href="/lesson-files/lesson-03/routes-3-options">for views/routes.js (3 options wired up)</a></li>
      	<hr/>
        <li><a href="/lesson-files/lesson-03/02-how-many-geese-4-options">for views/02/02-how-many-geese.html (completed, bug free)</a></li>
        <li><a href="/lesson-files/lesson-03/routes-complete">for views/routes.js (all options wired up, switch statement)</a></li>
      </ul>



    </div>
  </div>

{% endblock %}
