
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Register my geese service - concept version 1
      </h1>
      <p class="govuk-body-l">
        Initial ideas about what would be useful to capture, that people could easily provide - things that could lower risk of infection - can we learn things about:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>How people identify themselves - their role.  Who might be our users (goose onwers) - non agricultural/food flocks - farmers? Non farming landowners? 'Cottage gardens'? Small holdings?</li>
        <li>Flock size</li>
        <li>Mixed with other livestock/birds?</li>
        <li>Indoors/outdoors - how much time in each</li>
        <li>Whats the setting?  how many people interact with the geese?</li>
      </ul>


      <h2 class="govuk-heading-m"><a href="01-start">Register my geese</a></h2>


    </div>
  </div>

{% endblock %}
