
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Domestic bird flocks - conceptual ideas
      </h1>
      <p class="govuk-body-l">
        Conceptual ideas for exploring with bird owners and policy experts around services to record domestic bird flocks
      </p>

      <p>
        Ideas to help uncover contraints and assumptions in the organisation and beyond.  Ideas we can use to gather insights from people who have flocks of birds
      </p>

      <h2 class="govuk-heading-m">Register my goose flock</h2>

      <p>Would there be desire or uptake if we asked people to register their bird flock?  Test assumptions and gain insights from geese owners</p>

      <p>We don't yet know what sort of answers we would need for a real service, So test ideas for likely infomation that would be useful to capture, so we can use it to inform policy decisions and service viability</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="01/">Version 1 - register my geese</a>
        </li>
      </ul>

    	<h2 class="govuk-heading-m">Lessons</h2>

     	<p><a href="/lesson-files">Lesson plans and files</a></p>

     	

      <h2 class="govuk-heading-m">GOV Kit Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>


    </div>
  </div>

{% endblock %}
